@model EmployeeHolidayManagement.Models.ViewAllocationsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>for Employee: @Model.Employee.Id</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.TaxId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.TaxId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DateJoined)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.DateJoined)
        </dd>
    </dl>
</div>

<hr />

<h2>Leave Allocations</h2>
<hr />
<div class="card" style="width: 25rem;">
    <ul class="list-group list-group-flush">
            @foreach (var item in Model.LeaveAllocations)
            {
        <li class="list-group-item">
            <h5>
                @item.LeaveType.Name <span class="badge badge-info">@item.NumberOfDays Days Left</span> | <a asp-route-id="@item.Id" asp-action="Edit" class="btn btn-warning">
                <i class="fas fa-pencil-alt"></i>
                    Edit
                </a>
            </h5>
        </li>
            }
        </ul>
    </div>
<br/>

<div>
    <a asp-action="ListEmployees">Back to List</a>
</div>
