@model AdminLeaveRequestsViewMV;

@{
    ViewData["Title"] = "Index";
}

<h1>Leave Requests</h1>
<br />

@*<div class="row">
        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">@Html.DisplayNameFor(Model => Model.TotalRequests)</span>
                    <span class="info-box-number">@Model.TotalRequests</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-success"><i class="far fa-check-circle"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">@Html.DisplayNameFor(Model => Model.ApprovedRequests)</span>
                    <span class="info-box-number">@Model.ApprovedRequests</span>
                </div>
                <!-- /.info-box-content -->
            </div>

        </div>
        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-danger"><i class="far fa-times-circle"></i></span>

                <div class="info-box-content">
                    <span class="info-box-number">@Html.DisplayNameFor(Model => Model.RejectedRequests)</span>
                    <span class="info-box-number">@Model.RejectedRequests</span>
                </div>
                <!-- /.info-box-content -->
            </div>

        </div>
        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-warning"><i class="fas fa-exclamation-circle"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">@Html.DisplayNameFor(Model => Model.PendingRequests)</span>
                    <span class="info-box-number">@Model.PendingRequests</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
    </div>*@

<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small card -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@Model.TotalRequests</h3>

                <p>@Html.DisplayNameFor(Model => Model.TotalRequests)</p>
            </div>
            <div class="icon">
                <i class="far fa-envelope"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small card -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@Model.ApprovedRequests</h3>

                <p>@Html.DisplayNameFor(Model => Model.ApprovedRequests)</p>
            </div>
            <div class="icon">
                <i class="far fa-check-circle"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small card -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@Model.RejectedRequests</h3>

                <p>@Html.DisplayNameFor(Model => Model.RejectedRequests)</p>
            </div>
            <div class="icon">
                <i class="far fa-times-circle"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small card -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@Model.PendingRequests</h3>

                <p>@Html.DisplayNameFor(Model => Model.PendingRequests)</p>
            </div>
            <div class="icon">
                <i class="fas fa-exclamation-circle"></i>
            </div>
        </div>
    </div>
</div>

<br />

<p>
    <a class="btn btn-success" asp-action="Create"><i class="fas fa-plus"></i> Add Leave for Employee</a>
</p>
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Leave Type
            </th>
            <th>
                Date Requested
            </th>

            <th>
                Approved
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestingEmployee.FirstName) @Html.DisplayFor(modelItem => item.RequestingEmployee.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRequested)
                </td>

                <td>
                    @if (item.Approved == true)
                    {
                        <span class="badge badge-success">Approved</span>
                    }
                    else if (item.Approved == false)
                    {
                        <span class="badge badge-danger">Rejected</span>
                    }
                    else
                    {
                        <span class="badge badge-warning">Pending Approval</span>
                    }
                </td>

                <td>

                    <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-file"></i>Review</a> 

                </td>
            </tr>
        }
    </tbody>
</table>
